body {
        padding-top: 20px;
        padding-bottom: 40px;
        background: url("../../2.jpg") no-repeat scroll 0 0 transparent;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
        font-size: 12px;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .lead{
        font-size: 15px;
      }
      .prev_btn, .next_btn{
        cursor: pointer;
      }
      .label{
        font-size: 10px;
      }
      input#search_input{
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
      }
      div#search_result{
        height: 200px;
        max-height: 350px;
        overflow-y: auto;
      }
      ul.nav li a{
        cursor: pointer;
      }
      .masthead{
        width: 100%;
      }